@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid #e6d8d8;
    background-color: rgb(66, 109, 84);
}


.container .item {
    border: 2px solid rgb(6, 106, 255);
    background-color: rgb(248, 0, 136);

}

.container {
    display: flex;
    flex-wrap: wrap;
    /* 줄넘김처리 */

}

.container .item {
    width: 30%;   /* 공간의 30%씀 */

}

.container .item:nth-child(1) {
    width: 100%;
    flex-grow: 1; /* 늘리기 */
}


.container .item:nth-child(2) {
    width: 200px;
    flex-shrink: 0;  /* 고정 */
}

.container .item:nth-child(3) {

    flex-grow: 1;
}

.container .item:nth-child(4) {
    width: 200px;
    flex-shrink: 0; /* 고정 */
}

.container .item:nth-child(5) {

    flex-grow: 1;
    width: 100%; /* 늘리기 */
}